{% extends "_base.html" %}
{% set title = "Lerkeveld" %}
{% block main %}
<h2>Lerkeveld website v3</h2>
<h3>Over ons:</h3>
<p>Wij zijn Lerkeveld.</p>
<h3>Meer info:</h3>
<ul>
  <li><a href="/contact.html">Contact</a></li>
  <li><a href="/lied.html">Lied</a></li>
  <li><a href="/praesidium.html">Praesidium</a></li>
</ul>
<h3>Andere applicaties op deze website:</h3>
<ul>
  <li><a href="/admin">Admin only</a></li>
  <li><a href="/underground">Lerkies only</a></li>
  <li><a href="/24urenloop">24 urenloop</a></li>
</ul>
{% endblock main %}
